#dm_page .dm_zone {
}


.dm_access_links {
  position: absolute;
  left: -9000px;
}

.elements .element {
  list-style: disc inside;
  padding: 1em;
}

.pager {
	text-align: center;
}

.pager .page {
  display: inline;
  margin: 0 5px;
}