#breadCrumb {
  height: 19px;
  background: url(../../core/images/default_bg.png) center left repeat-x;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
}

#breadCrumb li {
  display: block;
  float: left;
}

#breadCrumb a.link,
#breadCrumb h1 {
  display: block;
  padding: 0 20px 0 10px;
  height: 19px;
  line-height: 19px;
  background: url(../images/breadCrumb/chevron.png) top right no-repeat;
  color: #666;
  text-decoration: none;
}

#breadCrumb a.link:hover {
	color: #046BCA;
}

#breadCrumb h1 {
	font-weight: bold;
	font-size: 1.2em;
	color: #444;
  background: none;
}

#breadCrumb a.home {
	padding-top: 2px;
  height: 17px;
}