#content_message_editor .info.error
{
  color: red;
}

#dm_code_editor
{
  position: relative;
}

#dm_code_editor_tree
{
  position: absolute;
  width:300px;
  width: 26%;
  border: 1px solid #D3D3D3;
  background: #FAFAFA;
}

#dm_code_editor_tree_inner {
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
}

#dm_code_editor_tree p.dm_root_dir {
  padding: 0 1em;
  background: url(../../dmCorePlugin/images/default_bg.png) repeat-x center;
  border-bottom: 1px solid #D3D3D3;
  height: 22px;
  padding-top: 8px;
}

#dm_code_editor_content
{
  width: 73%;
  position: absolute;
  left: 27%;
}

#dm_code_editor_content div.ui-tabs {
  border: none;
  padding: 0;
}

#dm_code_editor_content div.ui-tabs div.ui-tabs-panel {
  padding: 0;
}

#dm_code_editor_content textarea {
  width: 96.5%;
  height: 200px;
  border: 0;
  margin-top: 0;
}

#dm_code_editor .ui-tabs-nav li a {
  padding: 6px;
}

#dm_code_editor .ui-tabs-nav img.close {
  position: absolute;
  top: 2px;
  right: 1px;
  cursor: pointer;
}