div.console div.dm_box_inner
{
  margin: 0;
}

#dm_console
{
  background: #000 url(../images/console/bg2.jpg) repeat center center;
  font-family: monospace;
  font-size: 12px;
  height: 540px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
}
#dm_console strong
{
  color: #DDD;
}
.dm_console_wait
{
  height: 16px;
  font-size: 12px;
  padding-left: 20px;
  margin-left: 30px;
  background: url(../images/16/gear.png) center left no-repeat;
  display: none;
  color: #fff; 
}

#dm_lines
{
  padding: 3px 3px 0 3px;
}
#dm_lines li
{
  line-height: 16px;
  display: block;
  color: #fff;
}
#dm_lines li.dm_command_intro
{
}
#dm_lines li.dm_command_user
{
  color:#88FF88;
}

#dm_command_wrap
{
  padding: 0 3px 3px 3px;
  height: 16px;
}
#dm_command_wrap label, #dm_command_wrap input
{
  float: left;
  color: #88ff88;
}
#dm_console form
{
  margin: 0;
}
#dm_command
{
  background: none;
  border: none;
  font-family: monospace;
  font-size: 12px;
  height: 16px;
  padding: 0;
  width: 500px;
}