#breadCrumb {
  height: 19px;
  background: url(../../core/images/default_bg.png) center left repeat-x;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
}

#breadCrumb li {
  display: block;
  float: left;
}

#breadCrumb a.link,
#breadCrumb h1 {
  display: block;
  padding: 0 20px 0 10px;
  height: 19px;
  line-height: 19px;
  background: url(../images/breadCrumb/chevron.png) top right no-repeat;
  color: #666;
  text-decoration: none;
}

#breadCrumb a.link:hover {
	color: #046BCA;
}

#breadCrumb h1 {
	font-weight: bold;
	font-size: 1.2em;
	color: #444;
  background: none;
}

#breadCrumb a.home {
	padding-top: 2px;
  height: 17px;
}

#breadCrumb div.dm_mini_search_form {
  float: right;
}

#dm_module_search_input {
  font-size: 13px;
  padding: 2px 5px 0 5px;
  width: 200px;
  height: 17px;
  line-height: 19px;
  border: none;
  float: left;
}

div#breadCrumb div.dm_mini_search_form input.dm_submit {
  border: none;
  height: 19px;
  background: transparent;
  color: #444;
  cursor: pointer;
  padding: 0 5px 2px 5px;
}
div#breadCrumb div.dm_mini_search_form input.dm_submit:hover {
  color: #046BCA;
}
