#flash {
  margin-bottom: 5px;
  cursor: pointer;
}

#flash li.flash {
  border: 1px solid;
  padding: 5px;
  margin-top: 5px;
  color: #333;
}

#flash li.info {
  background: #DFE9B8 url(../images/flash/green.gif) repeat-x top left;
  border-color: #CAD3A6;
}

#flash li.alert {
  background: #F8F2B7 url(../images/flash/yellow.gif) repeat-x top left;
  border-color: #DBD6A1;
}

#flash li.error {
  background: #F6DCD9 url(../images/flash/red.gif) repeat-x top left;
  border-color: #D7BBB8;
  color: #DD0000;
}