#sf_admin_container {
  margin-top: 10px;
}

/* embedded form */
div.sf_admin_form form ul.dm_form_elements {
  clear: both;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  padding: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
div.sf_admin_form form ul.dm_form_elements li.dm_form_element {
  margin: 5px;
}

div.sf_admin_form_inner {
  margin-top: 10px;
  font-size: inherit;
}

div.sf_admin_form form .dm_help_wrap,
div.sf_admin_form form .help {
  color: #888;
  margin-left:20%;
}

div.sf_admin_form fieldset {
  margin: 0 0 10px 0;
}

div.sf_admin_form fieldset .fieldset_title {
  height: 24px;
  background: url(../../dmCorePlugin/images/default_bg.png) center left repeat-x;
}

div.sf_admin_form fieldset .fieldset_title > span.fieldset_name {
  line-height: 22px;
  cursor: default;
  font-size: 14px;
}

div.sf_admin_form fieldset .ui-accordion-header {
  position: inherit;
}
div.sf_admin_form fieldset .ui-accordion-header .ui-icon {
  position: inherit;
  float: left;
  margin-top: 4px;
}

div.sf_admin_form .fieldset_content {
  overflow: visible;
  padding: 0;
  margin: 0;
  position: inherit;
  border-top: none;
  border-color: #D3D3D3;
}

div.sf_admin_form .fieldset_content_inner {
  background: url(../images/edit/separator_bg.png) 50% 50% no-repeat;
}

div.sf_admin_form .fieldset_none {
  border-top: 1px solid #D3D3D3;
}

div.sf_admin_form div.sf_admin_form_row {
  float: left;
  width: 48%;
  margin: 1%;
  background: #fff;
}

div.sf_admin_form div.sf_admin_form_row.big {
  width: 98%;
}

div.sf_admin_form div.sf_admin_form_row div.dm_related_records {
  margin-left: 20%;
  padding: 10px;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.sf_admin_form div.sf_admin_form_row_inner div.label_wrap,
div.sf_admin_form ul.dm_form_elements li.dm_form_element label {
  float: left;
  width: 20%;
}
div.sf_admin_form div.sf_admin_form_row_inner div.label_wrap,
div.sf_admin_form ul.dm_form_elements li.dm_form_element label,
div.sf_admin_form div.sf_admin_form_row_inner label {
  font-weight: bold;
}

div.sf_admin_form div.sf_admin_form_row_inner label.fnone {
  float: none;
  width: auto;
}

div.control span.select_all,
div.control span.unselect_all {
  margin-top: 1em;
  cursor: pointer;
  display: block;
  color: #046BCA;
  font-weight: normal;
}

div.sf_admin_form div.sf_admin_form_row_inner input,
div.sf_admin_form div.sf_admin_form_row_inner select,
div.sf_admin_form div.sf_admin_form_row_inner textarea {
  width: 76%;
}
div.sf_admin_form div.sf_admin_form_row_inner textarea.dm_markdown {
  width: 98.5%;
}
div.sf_admin_form div.sf_admin_form_row_inner input[type=checkbox] {
  width: auto;
}

div.sf_admin_form div.sf_admin_form_row_inner input.datepicker_me {
  width: auto;
}

div.sf_admin_form div.sf_widget_form_date_time select {
  width: auto;
}

div.sf_admin_form .error {
  border: 1px solid #D7BBB8;
  padding: 5px;
  margin-bottom: 5px;
  background: #F6DCD9 url(../images/flash/red.gif) repeat-x top left;
  color: #DD0000;
}

.dm_error_list li {
  list-style: disc inside;
}

div.dm_form_action_bar {
  padding: 5px;
  background:#E6E6E6 url(../../dmCorePlugin/images/default_bg.png) repeat-x scroll 50% 50%;
  border:1px solid #D3D3D3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.dm_form_action_bar_top {
  margin-bottom: 5px;
}
div.dm_form_action_bar_bottom {
  margin-top: 5px;
}
div.dm_form_action_bar ul.sf_admin_actions {
  float: left;
}

div.dm_form_action_bar li {
  float: left;
  display: block;
  margin-left: 5px;
}

div.dm_form_action_bar a {
  height: 16px;
  display: block;
  margin-top: 3px;
}
div.dm_form_action_bar a.sf_admin_action {
  margin-left: 20px;
}

div.dm_form_action_bar div.dm_form_pagination > a {
  float: left;
}
div.dm_form_action_bar div.dm_form_pagination > span.disabled {
  float: left;
  opacity: 0.3;
  height: 16px;
  display: block;
  margin-top: 3px;
}

div.dm_form_pagination {
  float: right;
}

div.sf_admin_form ul.checkbox_list {
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
}

div.sf_admin_form ul.checkbox_list > li {
  display: block;
  padding: 2px 4px;
  cursor: pointer;
  border: 1px solid #fff;
  border-width: 1px 0;
  background: #fff;
}

div.sf_admin_form ul.checkbox_list > li.active {
  background-color: #E1FEE5;
  border-color: #E1FEE5;
}

div.sf_admin_form ul.checkbox_list > li:hover {
  background-color: #F1F5FE;
  border-color: #ddd;
}

div.sf_admin_form ul.checkbox_list > li label {
  float: none;
  width: auto;
  cursor: pointer;
}

div.sf_admin_form ul.checkbox_list > li input {
  vertical-align: middle;
  cursor: pointer;
}

div.sf_admin_form div.dm_checkbox_search {
  padding: 5px 10px;
  background: url(../../dmCorePlugin/images/default_bg.png) repeat-x 50% 50%;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border: 1px solid #D4D4D4;
  margin-left: 20%;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
}

div.sf_admin_form div.dm_checkbox_search > input {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 5px;
  width: 134px;
  color: #666;
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
}

div.sf_admin_form .dm_media_file {
  position: relative;
}
div.sf_admin_form .dm_media_file .view {
  float: left;
}
div.sf_admin_form .dm_media_file .view img {
  box-shadow: 2px 2px 5px #888;
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 2px 2px 5px #888;
  border: 1px solid #aaa;
}
div.sf_admin_form .dm_media_file .infos {
  margin-left: 260px;
  font-size: 11px;
}

div.sf_admin_form img.dm_label_culture {
  vertical-align: middle;
  margin-right: 5px;
  opacity: 0.7;
}

div.sf_admin_form img.dm_label_required {
  vertical-align: middle;
}