div.dm_gallery_big {
  min-height: 300px;
}

div.dm_gallery_big ul.list li {
  float: left;
  margin: 0 10px 10px 0;
  width: 160px;
  height: 160px;
  display: block;
  border: 1px solid #D3D3D3;
  cursor: move;
  position: relative;
}

div.dm_gallery_big ul.list li a.delete {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display:none;
  background: #fff;
  padding: 5px;
  border-top: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
}

div.dm_gallery_big ul.list li a.edit {
  position: absolute;
  bottom: 0px;
  left: -1px;
  display:none;
  background: #fff;
  padding: 5px;
  border-top: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
}


div.dm_gallery_big ul.list li:hover a.delete {
  display:block;
}

div.dm_gallery_big ul.list li:hover a.edit {
  display:block;
}

div.dm_gallery_big ul.list li.ui-state-highlight {
  opacity: 0.5;
}

div.dm_gallery_big form.dm_add_media {
  width: 40%;
  border: 1px solid #D3D3D3;
  background: url(../../dmCorePlugin/images/default_bg) center left repeat-x;
  padding: 10px;
  margin-bottom: 10px;
}

div.dm_gallery_big div.dm_gallery_actions {
  margin: 10px 0;
}

div.dm_gallery_big div.dm_gallery_actions  a {
  margin: 10px 0;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}

div.dm_gallery_big div.dm_gallery_actions a.back {
  padding: 0;
  margin-top: 15px;
  text-align: left;
}