.dm_referers,
.dm_manys {
  font-size: 11px;
  background: url(../../core/images/default_bg_white.png) center center repeat-x;
  padding: 5px;
  border: 1px solid #E4E4E4;
  -moz-border-radius: 4px;
}

.dm_referers .list li,
.dm_manys .list li {
  white-space: nowrap;
  overflow: hidden;
  list-style: square inside;
  color: #aaa;
}

.dm_referers .actions {
  text-align: right;
}
.dm_referers .actions .link {
  padding-left: 14px;
}