body {
	/*
	 * as some diffs are longer than other,
	 * the scroller appears and disapears
	 * and the tabs move, which is not good
	 * so we always show the scroller
	 */
	overflow-y: scroll;
}

div.dm_history div.revision_header {
  text-align: center;
  margin-bottom: 1em;
}

div.dm_history .revision_title {
  font-size: 130%;
  margin-right: 2em;
  display: inline;
}

div.dm_history a.revert_to_revision {
  float: right;
}

div.dm_history a.back_to_record {
  float: left;
}

div.dm_history del, div.dm_history del {
  background: #FFAAAA;
  padding: 0 0.3em;
}

div.dm_history del img {
  border: 0.3em solid #FFAAAA;
}

div.dm_history ins {
  background: #77FF77;
  padding: 0 0.3em;
}

div.dm_history ins img {
  border: 0.3em solid #44DD44;
}

div.dm_history td div {
  max-height: 300px;
  overflow-y: auto;
}

div.dm_history.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	/*
	 * usefull when many tabs on many lines
	 */
  padding-bottom: 0;
}

div.dm_history.ui-tabs .ui-tabs-nav li a {
  padding-left: 8px;
  padding-right: 8px;
}