#sf_admin_content {
  margin-bottom: 10px;
}

#sf_admin_container {
  margin-top: 10px;
}

/*
div.sf_admin_list {
  margin-left: 1px;
}
*/

.no_results h2 {
  text-align: center;
  margin: 20px 0;
}

#list_header .dm_active_search {
  margin-bottom: 6px;
  color: #444;
}

div.dm_list_action_bar {
  border: 1px solid #D3D3D3;
}

div.dm_list_action_bar_top {
  background:#EDEDED;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 4px 5px 0 5px;
}

div.dm_list_action_bar_bottom {
  background:#eeeeee;
  border-top: none;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  padding: 0 5px 4px 5px;
}

div.no_results div.dm_list_action_bar {
  padding: 4px 5px;
}

div.dm_list_action_bar > div {
  float: left;
  margin-right: 10px;
}
div.dm_list_action_bar > div.sf_admin_action {
  margin-top: 3px;
}
div.dm_list_action_bar > div.sf_admin_action a {
  display: block;
  height: 16px;
}

div.dm_list_action_bar > div.dm_form_pagination {
  float: right;
  margin: 3px 0 0 0;
}

div.dm_form_pagination > a,
div.dm_form_pagination > div {
  float: left;
  margin: 0 3px;
}
div.dm_form_pagination > div.dm_pagination_status {
  text-align:center;
  width:100px;
}
div.dm_form_pagination > div.disabled {
  opacity: 0.3;
}

div.dm_list_action_bar > select.dm_max_per_page {
  float: right;
  margin-right: 10px;
}

div.dm_form_pagination strong {
}

.sf_list_actions {
  float: left;
}

div.sf_admin_list table {
  width: 100%;
  color:#444;
}

div.sf_admin_list a.link_edit {
  font-size: 110%;
}

div.sf_admin_list thead tr,
div.sf_admin_list tfoot tr {
  background:#E6E6E6 url(../../dmCorePlugin/images/default_bg.png) repeat-x scroll 50% 50%;
  border:1px solid #D3D3D3;
  color:#666;
}

div.sf_admin_list thead tr {
  border-top: none;
}

div.sf_admin_list tfoot tr {
  border-bottom: none;
}

div.sf_admin_list th {
  border: none;
  padding: 3px 5px;
}

div.sf_admin_list th a {
  color: #555;
  white-space: nowrap;
}

div.sf_admin_list tr.even {
  background: #F0F4FC;
}

div.sf_admin_list td {
  border: none;
  padding: 5px 5px;
  color: #222;
}

div.sf_admin_list td.sf_admin_boolean span {
  cursor: pointer;
}

.dm_list_action_bar .sf_admin_actions input {
  margin-right: 5px;
}

div.dm_list_global_actions {
  margin-top: 10px;
}

div.dm_export, div.dm_loremize {
  float: left;
  margin-right: 10px;
  padding: 10px;
  background:#E6E6E6 url(../../dmCorePlugin/images/default_bg.png) repeat-x scroll 50% 50%;
  border:1px solid #D3D3D3;
  color:#666;
}

div.dm_export a {
  display: block;
}