div.dm_log strong {
  font-weight: bold;
  color: #000;
}

div.dm_log .light {
  font-size: 10px;
  color: #666;
}

div.dm_log .browser_block {
  display: block;
  width: 24px;
  padding: 0 5px 0 0;
}