.dm_module_space_show .dm_module {
  margin: 20px;
}

.dm_module_space_show .dm_modules .link {
  font-size: 200%;
}

.dm_module_space_show .dm_module p{
  color: #666;
}

.dm_module_type_show .title {
	margin-bottom: 10px;
}

.dm_module_type_show .dm_modules {
  margin: 0 0 10px 1em;
}
.dm_module_type_show .dm_module {
  color: #aaa;
  list-style: square;
  margin: 5px;
}
.dm_module_type_show .dm_module p {
  color: #666;
}

.dm_search_bar {
  margin-top: 5px;
	margin-bottom: 5px;
}

.dm_module_search {
  float: left;
}

div.dm_module_search input {
	font-size: 13px;
  padding: 0 3px;
}

#dm_module_search_input {
  width: 300px;
  padding:2px;
  border: 1px solid #ccc;
}

div.dm_module_search input.dm_submit {
  padding:1px 5px;
  border: 1px solid #ccc;
  margin-left: -1px;
  border-left: none;
  background: url(../../core/images/default_bg.png) center left repeat-x;
  color: #444;
  cursor: pointer;
}
div.dm_module_search input.dm_submit:hover {
  color: #046BCA;
}

a.associated_record {
  background-position: right -1072px;
  padding-left: 0px !important;
  padding-right: 18px;
  text-decoration: none;
  color: inherit;
}

a.associated_record:hover {
  background-position: right -1056px;
  color: #046BCA;
  text-decoration: underline;
}