.dm_sort {
  color: #444;
}

.dm_sort li {
  list-style: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 3px 0;
  padding: 0 8px;
  cursor: move;
}

.dm_sort li.object {
  background: url(../../dmCorePlugin/images/default_bg.png) repeat-x scroll 50% 50%;
  border:1px solid #D3D3D3;
  color:#666666;
}

.dm_sort li.object:hover {
  background: url(../../dmCorePlugin/images/default_bg_blue.png) repeat-x scroll 50% 50%;
}

.dm_sort li.object.active {
  background: url(../../dmCorePlugin/images/default_bg_yellow.png) repeat-x scroll 50% 50%;
}

.dm_sort li.ui-state-highlight {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 24px;
}

.dm_sort .info {
  margin-right: 5px;
}