[submodule "dmCorePlugin/plugins/sfImageTransformPlugin"]
	path = dmCorePlugin/plugins/sfImageTransformPlugin
	url = https://github.com/diem-project/sfImageTransformPlugin.git
[submodule "dmCorePlugin/plugins/sfWebBrowserPlugin"]
	path = dmCorePlugin/plugins/sfWebBrowserPlugin
	url = https://github.com/diem-project/sfWebBrowserPlugin.git
[submodule "dmCorePlugin/plugins/sfFeed2Plugin"]
	path = dmCorePlugin/plugins/sfFeed2Plugin
	url = https://github.com/diem-project/sfFeed2Plugin.git
[submodule "dmCorePlugin/plugins/sfFormExtraPlugin"]
	path = dmCorePlugin/plugins/sfFormExtraPlugin
	url = https://github.com/diem-project/sfFormExtraPlugin.git
[submodule "symfony"]
	path = symfony
	url = https://github.com/diem-project/symfony.git
[submodule "dmCorePlugin/test/project/plugins/dmTagPlugin"]
	path = dmCorePlugin/test/project/plugins/dmTagPlugin
	url = https://github.com/diem-project/dmTagPlugin.git
[submodule "dmCorePlugin/lib/vendor/php-html-writer"]
	path = dmCorePlugin/lib/vendor/php-html-writer
	url = https://github.com/ornicar/php-html-writer.git
[submodule "dmCorePlugin/lib/vendor/php-user-agent"]
	path = dmCorePlugin/lib/vendor/php-user-agent
	url = https://github.com/diem-project/php-user-agent.git
