[submodule "dmCorePlugin/plugins/sfImageTransformPlugin"]
	path = dmCorePlugin/plugins/sfImageTransformPlugin
	url = git://github.com/diem-project/sfImageTransformPlugin.git
[submodule "dmCorePlugin/plugins/sfWebBrowserPlugin"]
	path = dmCorePlugin/plugins/sfWebBrowserPlugin
	url = git://github.com/diem-project/sfWebBrowserPlugin.git
[submodule "dmCorePlugin/plugins/sfFeed2Plugin"]
	path = dmCorePlugin/plugins/sfFeed2Plugin
	url = git://github.com/diem-project/sfFeed2Plugin.git
[submodule "dmCorePlugin/plugins/sfFormExtraPlugin"]
	path = dmCorePlugin/plugins/sfFormExtraPlugin
	url = git://github.com/diem-project/sfFormExtraPlugin.git
[submodule "symfony"]
	path = symfony
	url = git://github.com/vjousse/symfony-1.4.git
[submodule "dmCorePlugin/test/project/plugins/dmTagPlugin"]
	path = dmCorePlugin/test/project/plugins/dmTagPlugin
	url = git://github.com/diem-project/dmTagPlugin.git
