.markdown p {
  margin-bottom: 1em;
}

.markdown h2 {
  font-size: 200%;
}

.markdown h3 {
  font-size: 160%;
}

.markdown h4 {
  font-size: 120%;
  font-weight: bold;
}

.markdown em {
  font-style: italic;
}

.markdown strong {
  font-weight: bold;
}

.markdown li {
  list-style: disc inside;
}