.dm_layout {
  width: 1000px;
  margin: auto;
}

.dm_layout_top {
  background: #aaa;
}

.dm_page_content {
  width: 600px;
  float: left;
}

.dm_layout_left {
  width: 150px;
  float: left;
}

.dm_layout_right {
  width: 250px;
  float: left;
}

.dm_layout_bottom {
  background: #aaa;
}