#dm_page {
  margin: 10px;
}

.centered_page_content {
  width: 1000px;
  margin: auto;
}

.dm_area_default_top {
  background: #aaa;
}

.dm_area_default_left {
  width: 150px;
  float: left;
}

.page_content {
  width: 600px;
  float: left;
}

.dm_area_default_right {
  width: 250px;
  float: left;
}

.dm_area_default_bottom {
  background: #aaa;
}