.dm_layout {
  width: 1000px;
  margin: auto;
}

.dm_layout_top {
  background: #aaa;
}

.dm_layout_left {
  float: left;
  width: 200px;
  min-height: 200px;
  background: #ddd;
}

.dm_content {
  float: left;
  width: 500px;
  background: #eee;
}

.dm_layout_right {
  float: left;
  width: 300px;
  min-height: 200px;
  background: #fff;
}

.dm_layout_bottom {
  background: #aaa;
}