body.pageBarOpen {
  margin-left: 310px;
}

body.pageBarOpen #sf_admin_bar {
  display: none;
}

body.pageBarOpen #sf_admin_content {
  margin-right: 0;
}

#dm_page_bar {
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100%;
  width: 300px;
  background: #FCFCFC;
  border-right: 3px solid #F4F4F4;
  overflow: hidden;
  font-size: 11px;
  box-shadow: 3px 0 4px #888;
  -moz-box-shadow: 3px 0 4px #888;
  -webkit-box-shadow: 3px 0 4px #888;
  z-index: 16777270;
}

#dm_page_bar_toggler {
  position: fixed;
  left: 0;
  top: -4000px;
  width: 30px;
  height: 100px;
  background: url(../images/bar_togglers.png) top left no-repeat;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  box-shadow: 2px 0 5px #888;
  -moz-box-shadow: 2px 0 5px #888;
  -webkit-box-shadow: 2px 0 5px #888;
  z-index: 16777270;
}

#dm_page_bar_toggler:hover {
  background-position: -30px +0;
}

#dm_page_bar.open {
  left: 0px;
}

#dm_page_bar.open .dm_bar_toggler {
  display: none;
}

#dm_page_bar .title {
  height: 19px;
  line-height: 19px;
  text-align: center;
  background: url(../images/default_bg.png) center left repeat-x;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: bold;
  color: #666;
}

#dm_page_bar #dm_page_tree {
  overflow-y: auto;
  overflow-x: hidden;
}

#dm_page_bar .tree > ul {
  margin-left: -15px;
  margin-top: 2px;
}

div.dm.dm_page_draggable_helper {
  max-width: 300px;
  overflow: hidden;
}

div.dm.dm_page_draggable_helper > a {
  color: black;
  text-decoration: none;
  border:1px solid #99defd;
  font-size:12px;
  line-height:16px;
  display: block;
  height: 16px;
  background-color: #d8f0fa !important;
  opacity: 0.6;
  z-index: 500;
}