.s24_tick{background-position:0 -0px;}
.s24_add{background-position:0 -24px;}
.s24_delete{background-position:0 -48px;}
.s24_page_edit{background-position:0 -72px;}
.s24_view_on{background-position:0 -96px;}
.s24_view_off{background-position:0 -120px;}
.s24_page_add{background-position:0 -144px;}
.s24_info{background-position:0 -168px;}
.s24_edit{background-position:0 -192px;}
.s24_error{background-position:0 -216px;}
.s24_user{background-position:0 -240px;}
.s24_mail{background-position:0 -264px;}