#dm_tool_bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 28px;
  padding: 0;
  
  background: #ccc url(../images/default_bg.png) center left repeat-x;
  color:#222;
  font-size: 12px;

  z-index: 16777270;
}

#dm_tool_bar.blue {
  background: #ccc url(../images/tool_bar_blue_bg.png) top left repeat-x;
  color: #fff;
}

#dm_tool_bar.green {
  background: #ccc url(../images/tool_bar_green_bg.png) top left repeat-x;
  color: #fff;
}

#dm_tool_bar.brown {
  background: #ccc url(../images/tool_bar_brown_bg.png) top left repeat-x;
  color: #fff;
}

#dm_tool_bar.black {
  background: #ccc url(../images/tool_bar_black_bg.png) top left repeat-x;
  color: #fff;
}

#dm_tool_bar.blue a,
#dm_tool_bar.green a,
#dm_tool_bar.brown a,
#dm_tool_bar.black a {
  color: #fff;
}

#dm_tool_bar .widget16 {
  display: block;
  float: left;
  margin: 6px 3px 0 3px;
  line-height: 16px;
}

#dm_tool_bar .widget16.fright {
  float: right;
}

#dm_tool_bar .widget16.mt3 {
  margin-top: 3px;
}

#dm_tool_bar .widget16.mt5 {
  margin-top: 5px;
}

#dm_tool_bar .widget24 {
  display: block;
  float: left;
  margin: 2px 5px 0 5px;
  line-height: 24px;
}

#dm_tidy_output {
  display:none;
}

div.dm_refresh_show {
  margin: -30px 0 0 -30px;
  padding: 30px 0 0 0;
  min-height: 114px;
  background: url(../images/refresh_big.png) top left no-repeat;
}

div.dm_refresh_show .title {
  font-size:138.5%;
  height:2em;
  letter-spacing:-1px;
  line-height:2em;
  text-align: right;
}

div.dm_refresh_show ul.dm_steps > li {
  display: block;
  height: 16px;
  padding-right: 20px;
  margin: 3px 0;
  background: url(../images/16/tick-circle.png) right top no-repeat;
  color: #116611;
  text-align: right;
}

div.dm_refresh_show ul.dm_steps > li.current {
  background-image: url(../images/16/gear.png);
  color: #000;
}

#dm_tool_bar #sfWebDebugBar
{
  position: inherit;
  margin-top: 6px;
  float: right;
}