.dm {
  font-family: arial,helvetica,verdana,sans-serif;
  font-size: 12px;
}

.dm a, a.dm {
  cursor: pointer;
}

.dm,
.dm form,
.dm ul,
.dm ol,
.dm li,
.dm span,
.dm a,
.dm a:link,
.dm a:hover,
.dm a:visited {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  line-height: normal;
  text-align: left;
}

.dm input,
.dm input:focus,
.dm select,
.dm select:focus,
.dm textarea,
.dm textarea:focus {
}

.dm ul,
.dm ol,
.dm li {
  list-style: none;
}