.dm_form {
  font-size: 11px;
}

.dm_form input.droppable_active,
.dm_form textarea.droppable_active {
  background: url(../../dmCorePlugin/images/default_bg_yellow.png) repeat-x scroll 50% 50%;
}

.dm_form input.droppable_hover,
.dm_form textarea.droppable_hover {
  background: url(../../dmCorePlugin/images/default_bg_green.png) repeat-x scroll 50% 50%;
}

.dm_form .radio_list,
.dm_form .checkbox_list {
  margin-top: 3px;
}

.dm_form .radio_list li {
  float: left;
  margin-right: 5px;
}

.dm_form .radio_list input,
.dm_form .checkbox_list input {
  vertical-align: middle;
}

.dm_form .radio_list label,
.dm_form .checkbox_list label {
  margin: 0;
}

.dm_form .radio_list li,
.dm_form .radio_list label,
.dm_form .radio_list input,
.dm_form .checkbox_list label,
.dm_form .checkbox_list input {
  cursor: pointer;
}

.dm_form.list .dm_form_element > label {
  width: 25%;
  margin-right: 1%;
}

.dm_form.list .dm_form_element > input,
.dm_form.list .dm_form_element > .input,
.dm_form.list .dm_form_element > textarea {
  width: 71%;
}

.dm_form.list .dm_form_element > input[type=checkbox]
{
  width: auto;
}

.dm_form.list .dm_form_element > select {
  width: 73%;
}

.dm_form .actions {
  margin-top: 10px;
}

.dm_form .actions .actions_part {
  margin: 5px;
}

.dm_tabbed_form.ui-tabs {
  border: 0;
}

.dm .dm_tabbed_form .ui-tabs-panel {
  padding: 5px 0 0 0 !important;
}

.dm_form textarea.markItUpEditor {
  width: 97%;
}

.dm_form .dm_help,
.dm_form .dm_help_wrap {
  color: #888;
  margin-left: 20%;
}
.dm_form .dm_help.no_margin {
  margin-left: 0;
}