body {
  margin-bottom: 30px;
}

#dm_tool_bar {
  bottom: 0;
  -moz-box-shadow: 0 -4px 4px #888;
}

#dm_tool_bar.hidden {
  width: 16px;
  height: 16px;
  overflow-y: hidden;
}

div.dm_zone_add_helper,
div.dm_widget_add_helper {
	white-space: nowrap;
	padding: 5px 10px;
	font-weight: bold;
	background: #F4F4F4;
	border: 1px solid #D3D3D3;
	text-align: center;
}

#dm_tool_bar .show_tool_bar_toggle {
  float: left;
  margin-top: 13px;
}
#dm_tool_bar.hidden .show_tool_bar_toggle {
  margin-top: 0px;
}

#dm_tool_bar div.dm_menu {
  margin: 0 3px;
  color: #888;
}

#dm_tool_bar div.dm_menu .strong {
  font-weight: bold;
}

#dm_tool_bar ul.level0 {
  position: relative;
  padding:0 2px 2px 2px;
}
#dm_tool_bar ul.level0 > li {
  float:left;
  padding: 0 1px 1px 1px;
  position:relative;
  height: 25px;
  cursor: default;
  background: none;
  border: none;
}
#dm_tool_bar ul.level0 > li > a {
  float:left;
  padding: 5px 10px 0px 10px;
  text-decoration:none;
  font-size: 1.1em;
  cursor: pointer;
  height: 20px;
}

#dm_tool_bar ul.level0 > li.ui-state-active {
  background: #fff;
  border: 1px solid #aaa;
  border-top: none;
  padding: 0;
}

#dm_tool_bar ul.level0 > li.ui-state-active > a {
  color: #222;
}

#dm_tool_bar ul.level1 {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  width: 470px;
  border-bottom: none;
  padding: 0 10px 10px 10px;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;

  left: -4000px;
  
  max-height: 300px;
  overflow: auto;
  background: #fff;
  -moz-box-shadow: 4px -4px 4px #888;
}

#dm_tool_bar ul.level0 > li.ui-state-active ul.level1 {
  left: -1px;
}

#dm_tool_bar ul.level1 > li {
  display: block;
  float: none;
  padding-top: 10px;
}

#dm_tool_bar ul.level1 > li > a {
  text-transform: uppercase;
  font-weight: bold;
  color: #0085CF;
  color: #046BCA;
  cursor: default;
}

#dm_tool_bar ul.level1 > li > a:hover {
  text-decoration: none;
}

#dm_tool_bar ul.level2 > li {
  margin-left: 20px;
  color: #aaa;
  
  float: left;
  margin: 3px 0 0 3px;
  list-style: none;
}

#dm_tool_bar ul.level2 li span.move {
  cursor: move;
  display:block;
  padding: 3px 5px;
  width: 134px;
  color: #666;
  background: url(../../core/images/default_bg.png) repeat-x scroll 50% 50%;
  border: 1px solid #D3D3D3;
  -moz-border-radius: 4px;
  text-align: center;
}

#dm_tool_bar ul.level2 li span.move:hover {
  color: #444;
  background: url(../../core/images/default_bg_blue.png) repeat-x scroll 50% 50%;
}

#dm_tool_bar ul.level2 > li a {
  display: block;
  padding: 1px 0;
  color: #666;
}

#dm_tool_bar #sfWebDebug .sfWebDebugTop
{
  top: auto;
  bottom: 30px;
  padding: 10px 1% 0 1%;
  height: 400px;
  overflow-y: auto;
}