#dm_page.edit .dm_widgets {
  min-height: 20px;
}

#dm_page.edit .dm_widget .dm_widget_inner {
  border: 2px groove #D3D3D3;
  /*
  margin: 1px;
  margin-top: 0;
  padding: 0px;
  */
  -moz-border-radius: 0 4px 4px 4px;
}

#dm_page.edit .dm_widget:hover > .dm_widget_inner {
  border-color: #a6edcd;
}

#dm_page .dm_widget > .dm_widget_edit {
  margin-top: 3px;
  color: #aaa;
  background: url(../../core/images/default_bg.png) repeat-x scroll 50% 50%;
  border: 1px solid #888;
  border-bottom: 0;
  -moz-border-radius: 4px 4px 0 0;
  width: 60px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  display: none;
}

#dm_page.edit .dm_widget > .dm_widget_edit {
  display: block;
}

#dm_page.edit .dm_widget:hover > .dm_widget_edit {
  color: #444;
  border-color: #a6edcd;
  background: url(../../core/images/default_bg_green.png) repeat-x scroll 50% 50%;
}

.dm_widget_placeholder {
  margin: 3px;
  opacity: 0.5;
}

.dm_widget_helper {
  
}

.dm_new_widget {
  background: url(../images/32/blackbox.png) top left no-repeat;
  padding-left: 40px;
  min-height: 32px;
}